* {
  font-family: 'Dosis', sans-serif;
}

.navbar {
  margin-bottom: 0px;
  background-color: #00c4cc;
  border-radius: 0px;
  border-color: #00c4cc;
}

/*.navbar-default:*/

.choiceContainer{
  /*background-color: #272c33;*/
  background-color: #6f7784;
  height: 100vh;
}

.choices{
  height: 100vh;
  background-color: #3f4652;
/*  padding-right: 0px;
  padding-left: 20px;
  margin-left: -20px;*/
}

.navChoices{
  width: 100%;
  background-color: #3f4652;
  border: none;
  height:15%;
  color: #aabbbb;
  outline: none;
}

.navChoices:hover{
  background-color: white;
}

.navChoiceSelected {
  background-color: #6f7784;
}

.newText {
  color: white;
}

.chooseName, .chooseColor {
  color: white;
  font-size: 25px;
}

.chooseNameDiv, .chooseColorDiv {
  text-align: center;
}

.completedBikes{
  display: block;
  font-size: 25px;
  opacity: .8;
}

.block{
  width: 100%;
  height: 100px;
}

.nav-pills {
  position: relative !important;
  display: block;
}

.partSelectContainer{
  margin-bottom: 90px;
}

.col-sm-2 {
  border: red 1px solid;
  height: 160px;
}

.selectPart {
  width: 70px;
}

.selectPart:hover{
  opacity: .5;
}

.nav {
  width: 100%;
  color: grey;
  display: block;
  padding-left: 20px;
  margin-top: -20px;
  padding-top: 20px;
  position: fixed;
  /*background-color: #2B2D42;*/
  opacity: .9;
  z-index: 99;
}

.containerHome {
  padding-top: 150px;
}

.builtBikes {
  margin-top: 150px;
  padding-left: 40px;
  font-size: 16px;
}

h1 {
  font-size: 40px;
}

#theFuture {
  font-size: 15px;
}

#backgroundImage1 {
  width: 100%;
}

#frontPageContainer {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

#wheelFront {
  position: relative;
  z-index: 1;
  width: 250px;
  left: 155px;
  /*top: 10px;*/
  fill: grey;
  -webkit-animation:spin 5s linear infinite;
  -moz-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite;
}

li {
  list-style-type: none;
}

.mainContainer {
  width: 800px;
  float: left;
}

#colorContainer {
  width: 100%;
  margin-top: 10px;
  margin: 0 auto;
}

.linkHistory {
  width: 150px;
  top:30px;
  right: 50px;
  position: absolute;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

#chooseColor {
  margin-left: 40%;
}

#save:hover {
  background-color: #00c4cc;
}

#bikeContainer {
  position: relative;
  width: 800px;
  height: 440px;
  margin: 0 auto;
  margin-top:20px;
  float: left;
  border-radius: 15px;

}

/*.partsContainer {
 width: 300px;
 height: 200px;
}*/

.secondOptions{
 width: 300px;
 height: 200px;
}

svg:hover {
  opacity: .5;
}

img#bikeFrameOne:hover { 
  fill: red; 
}

.sidebar-brand a{
  color: black;
}

.sidebar-brand:hover {
  background-color: #aabbcc;
}

.buildBike {
  width: 80px;
  color: color: #aabbbb;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.watchHistory {
  background-color: white;
  color: #aabbbb;
  border: none;
  border-radius: 5px;
}

.watchHistory:hover, .buildBike:hover {
  text-decoration: none;
  color: grey;
}

a {
  color: #aabbbb;
}

a:hover {
  text-decoration:none;
  color: grey;
}

.secondHistory {
  display: block;
  margin-top: -285px;
}
/*ANIMATIONS*/

/*SPIN WHEELS*/
/*.spinWheel {
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);

*/
