* {
  /*border: red 1px solid;*/
  font-family: 'Dosis', sans-serif;
}

.col-sm-2 {
  border: red 1px solid;
  height: 160px;
}

.selectPart {
  width: 100px;
}

.nav {
  width: 100%;
  color: grey;
  display: block;
  padding-left: 20px;
  margin-top: -20px;
  padding-top: 20px;
  position: fixed;
  background-color: #2B2D42;
  opacity: .9;
  z-index: 99;
}

.containerHome {
  padding-top: 150px;
}

.builtBikes {
  margin-top: 150px;
  padding-left: 40px;
  font-size: 16px;
}

h1 {
  font-size: 80px;
}

#theFuture {
  font-size: 15px;
}

#backgroundImage1 {
  width: 100%;
}

#frontPageContainer {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

#wheelFront {
  position: relative;
  z-index: 1;
  width: 250px;
  left: 155px;
  /*top: 10px;*/
  fill: grey;
  -webkit-animation:spin 5s linear infinite;
  -moz-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite;
}

li {
  list-style-type: none;
}

.leftSideBar {
  position: relative;
  width: 95%;
  height: 100px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #EFEFEF;
  text-align: center;
}

.leftSideBar div {
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.rightSideBar {
  font-size: 15px;
  width: 200px;
  border-radius: 15px;
  background-color: #aabbcc;
  text-align: left;
  float: right;
  margin-right: 20px;
  padding: 20px;
}

#dots {
  font-size: 50px;
  text-align: center;
}

.mainContainer {
  /*float: left;*/
  margin-top: 150px;
  width: 800px;
}

#colorContainer {
  width: 100%;
  margin-top: 10px;
  margin: 0 auto;
}

.linkHistory {
  width: 150px;
  top:30px;
  right: 50px;
  position: absolute;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

#chooseColor {
  margin-left: 40%;
}

.bigNumber {
  font-size: 40px;
}

#save {
  width: 100%;
  height: 25px;
  font-size: 20px;
  border-radius: 5%;
  background-color: #aabbcc;
  text-align: center;
  margin: 0 auto;
}

#save:hover {
  background-color: #C5D1D8;
}

#bikeContainer {
  position: relative;
  width: 800px;
  height: 440px;
  margin: 0 auto;
  margin-top:20px;
  background-color: #F7F7F7;
  border-radius: 15px;
}

#partsContainer {
 width: 300px;
 height: 600px;
}

.top1, .top2, .top3, .top4 {
  font-size: 20px;
  margin-left: 20px;
}

.top1 {
  margin-bottom: 10px;
  margin-top: 150px;
  text-align: center;
}

#topDiv {
  width: 100%;
  text-align: center;
}

.top2 {
/*  position: absolute;
  top:25px;
  left:-25px;*/
  margin-bottom: 20px;
}
#colorWheel {
  width: 200px;
}

/*STYLES FOR JS ANIMATION*/
.bin {
  position: absolute;
}
.item {
  display: inline;
}
.drag {
  opacity: 0.5;
}
.over {
  background: #aabbcc;
}
/*.small {
  width: 100px;
}*/

svg:hover {
  opacity: .5;
  /*fill: white;*/
}

img#bikeFrameOne:hover { 
  fill: red; 
}

#sidebar-wrapper {
  width: 200px;
  height: 100%;
}


.pwCanvasPaint {
  width: 450px;
  margin: 0 auto;
  border: 3px black solid;
}

#saveImage {
  position: relative;
  margin-left: 500px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: grey; 
}

.sidebar-brand a{
  color: black;
}

.sidebar-brand:hover {
  background-color: #aabbcc;
}

.buildBike {
  width: 80px;
  color: color: #aabbbb;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.watchHistory {
  background-color: white;
  color: #aabbbb;
  border: none;
  border-radius: 5px;
}

.watchHistory:hover, .buildBike:hover {
  text-decoration: none;
  color: grey;
}

a {
  color: #aabbbb;
}

a:hover {
  text-decoration:none;
  color: grey;
}

#finishedBikeContainer {
  float: right;
}

.secondHistory {
  display: block;
  margin-top: -285px;
}
/*ANIMATIONS*/

/*SPIN WHEELS*/
/*.spinWheel {
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);

*/
