* {
  font-family: 'Dosis', sans-serif;
}

.homePage {
  width: 100%;
  height: 100vh;
  background-image: url('../images/title.png');
  background-size: cover;
  /*opacity: .8;*/
}

.goContainer {
  height: 100px;
  width: 250px;
  float: right;
  margin: 100px;
}

#gInGo, .oInGo {
  height: 80px;
  /*opacity: .8;*/
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
.oInGo {
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         2.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

#instructions {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  text-align: center;
}

#instructionText {
  color: white;
  font-size: 17px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#instructionText h2{
  font-size: 40px;
}

#clickToStart{
  background-color: white;
  color: black;
  opacity: .3;
  border: none;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  border-radius: 25px;
}

#clickToStart:hover{
  opacity: 1;
}

.instructionsWheel{
  width: 80px;
  fill: white;
  opacity: .8;
}

.navbar-brand {
  margin-top: 0px;
  color: white;
}

.logo {
  margin-top: -15px;
  height: 50px;
}

.navbar-brand:hover, .navbar-text:hover{
  color: #aabbbb !important;
}

.navbar-text {
  color: white;
  margin-right: 20px;
}

li {
  list-style-type: none;
}

.mainContainer {
  width: 800px;
  margin: 0 auto;
  margin-left: 5%;
}

a {
  color: #F0F3F3;
}

a:hover {
  text-decoration:none;
  color: grey;
}

#bikeContainer {
  position: relative;
  width: 800px;
  height: 440px;
  margin: 0 auto;
  margin-top:10%;
  /*margin-left: 12%;*/
  border-radius: 15px;
}

svg:hover {
  opacity: .5;
}

.navbar {
  margin-bottom: 0px;
  background-color: #00c4cc;
  border-radius: 0px;
  border-color: #00c4cc;
  opacity: .8;
}


.choiceContainer{
  background-color: #6f7784;
  height: 100vh;
}

.arrow{
  height: 144px;
  margin-bottom: 41px;
  margin-left: 20px;
}

.newText p {
  font-size: 20px;
  margin-top: 20px;
}

.savedBikes h2, .savedBikes p{
  color: #E3E8E8;
}

button.bikeName {
  background-color: #3f4652;
  border: none;
  color: #E3E8E8;
}

.choices{
  height: 100vh;
  background-color: #3f4652;
}

.navChoices{
  width: 100%;
  background-color: #3f4652;
  border: none;
  height:15%;
  color: #aabbbb;
  outline: none;
}

.navChoices:hover{
  background-color: white;
}

.navChoiceSelected {
  background-color: #6f7784;
}

.partSelected {
  background-color: red;
}

.newText {
  color: white;
}

.chooseName, .chooseColor, .saveText h2  {
  color: #F0F3F3;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.saveText p{
  font-size: 20px;
}

.chooseNameDiv, .chooseColorDiv{
  margin-top: 20px;
  text-align: center;
  color: #F0F3F3;
}

.chooseColorDiv input {
  margin-top: 30px;
  width: 100px;
  height: 100px;
}

.secondChoice {
  text-align: center;
}

.secondChoice h2, .secondChoice p {
  color: #F0F3F3;
}

.secondChoice button{
 background-color: #3f4652;
 color: #E3E8E8;
 border: 0px;
 width: 100px;
 margin-top: 10px;
}

.secondChoice button:hover{
  background-color: white;
}

.secondChoice button  a {
  text-decoration: none;
  color: #F0F3F3;
}

.completedBikes{
  width: 100%;
  display: block;
  font-size: 25px;
  opacity: .8;
  margin-bottom: 10px;
  font-size: 15px;
}

.bikeName {
  display: inline-block;
  width: 80% !important;
}

.deleteBike {
  display: inline-block;
  width: 10% !important;
  border: none;
  background-color: #3f4652;
  color: #F0F3F3;
}

.bikeName:hover, .deleteBike:hover{
  opacity: .5;
}

.partsContainer {
  margin-top: 30px;
}

#save:hover {
  background-color: #00c4cc;
}

/*#backgroundImage1 {
  width: 100%;
}

#frontPageContainer {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

#wheelFront {
  position: relative;
  z-index: 1;
  width: 250px;
  left: 155px;
  fill: grey;
  -webkit-animation:spin 5s linear infinite;
  -moz-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite;
}*/


/*.linkHistory {
  width: 150px;
  top:30px;
  right: 50px;
  position: absolute;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}*/

/*
img#bikeFrameOne:hover { 
  fill: red; 
}*/

/*.sidebar-brand a{
  color: black;
}*/

/*.sidebar-brand:hover {
  background-color: #aabbcc;
}*/

/*.buildBike {
  width: 80px;
  color: color: #F0F3F3;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.watchHistory {
  background-color: white;
  color: #F0F3F3;
  border: none;
  border-radius: 5px;
}

.watchHistory:hover, .buildBike:hover {
  text-decoration: none;
  color: grey;
}*/

/*.secondHistory {
  display: block;
  margin-top: -285px;
}*/
/*ANIMATIONS*/

/*SPIN WHEELS*/
/*.spinWheel {
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);

*/
