* {
  /*border: red 1px solid;*/
}

#bikeContainer {
  position: relative;
  text-align: center;
  width: 960px;
  height: 650px;
  margin: 0 auto;
}

.partsContainer {
  display: inline;
}

#bikeFrameOne {
  width: 450px;
  position: absolute;
  top: 150px;
  left: 255px;
  z-index: -1;
}


/*PRE-DROP DIVS*/
#backWheel {
  width: 290px;
/*  position: absolute;
  top: 233px;
  left: 119px;*/
}

#frontWheel {
  width: 290px;
/*  position: absolute;
  top: 228px;
  left: 557px;*/
}

#seat {
 width: 120px;
/* position: absolute;
 top: 120px;
 left: 306px;*/
}

#handlebar {
 width: 130px;
/* position: absolute;
 top: 100px;
 left: 598px;*/
}

#gears {
  width: 310px;
/*  position: absolute;
  top: 355px;
  left: 210px;*/
}


/*DROPPED DIVS*/
/*#backWheelDrop {
  width: 290px;
  height: 292px;
  position: absolute;
  top: 233px;
  left: 119px;
}

#frontWheelDrop  {
  width: 290px;
  height: 292px;
  position: absolute;
  top: 228px;
  left: 557px;
}

#seatDrop  {
 width: 120px;
 height: 45px;
 position: absolute;
 top: 120px;
 left: 306px;
}

#handlebarDrop  {
 width: 130px;
 height: 108px;
 position: absolute;
 top: 100px;
 left: 598px;
}

#gearsDrop {
  width: 310px;
  height: 108px;
  position: absolute;
  top: 355px;
  left: 210px;
}
*/

.bin {
  position: absolute;
}

.item {
  display: inline;
}
.drag {
  opacity: 0.5;
}
.over {
  background: #aabbcc;
}


