<h1>Register</h1>

<form ng-submit="register.register()">
  <input type="text" name="firstName" data-ng-model="register.user.firstName" placeholder="First name">
  <input type="text" name="lastName" data-ng-model="register.user.lastName" placeholder="Last name">
  <input type="email" name="email" data-ng-model="register.user.email" placeholder="Email">
  <input type="password" name="password" data-ng-model="register.user.password" placeholder="Password">
  <input type="password" name="passwordConfirmation" data-ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">

  <input type="submit" value="Submit" />
</form>
