<div class="homePage">
 
</div>

<!--   <h2>BUILD</h2>
  <h1>THE HISTORY OF BIKES</h1>
  <div class="linkHistory" type="button"><a ui-sref="bikes"><i class="fa fa-arrow-right" aria-hidden="true"></i> Build a bike</a></div>
</div>

<div class="containerHome" ng-controller="AnimateController">

  <div ng-controller="AnimateController as animate">

     <input class="watchHistory" type="button" value="Watch History" ng-click="startScroll()">
     <img class="firstHistory" id="backgroundImage1" style="display: {{first}}" src="../images/historyline1.svg">
     <img class="firstHistory" id="firstLineText" style="display: {{first}}" src="../images/timelineOne.png">

      <span class="secondHistory">
        <img id="backgroundImage2" style="display: {{second}}" src="../images/historyline2.svg">
        <img id="secondLineText" style="display: {{second}}" src="../images/timelineTwo.png">
      </span>

  </div> -->


