<div ng-controller="BikesController as controller">

<!-- <div class="nav">
  <H1>BUILD YOUR BIKE <span id="theFuture"> (OF THE FUTURE)</span></H1>
  <span class="linkHistory">   
       <a ui-sref="home">Back to History</a>
  </span>
</div> -->
<div class="dropContainer">
  <div class="col-sm-2" ng-click="controller.getPartCategory('frame')">
  frame
  </div>
  <div class="col-sm-2" ng-click="controller.getPartCategory('seat')">
  seat
  </div>
  <div class="col-sm-2" ng-click="controller.getPartCategory('handleBar')">
  handlebars
  </div>
  <div class="col-sm-2" ng-click="controller.getPartCategory('gears')">
  gears
  </div>
  <div class="col-sm-2" ng-click="controller.getPartCategory('wheel')">
  wheel
  </div>
</div>
<div class="col-md-3">
  <label class="top1"> <span class="bigNumber">1.</span>NAME YOUR BIKE </label><i class="fa fa-arrow-right" aria-hidden="true"></i>
  <input type="text" placeholder="e.g. SuperBike" ng-model="controller.newBike.name" style="color: {{controller.newBike.color}};">

  <div class="top2"><span class="bigNumber">2.</span> CHOOSE YOUR PARTS <i class="fa fa-arrow-right" aria-hidden="true"></i></div>

          <div class="btn {{ part.name }}" 
               data-drag="true" 
               data-jqyoui-options="{revert: 'invalid'}" 
               ng-model="part" 
               jqyoui-draggable="{animate:true}" 
               ng-hide="!part.name" 
               ng-repeat="part in controller.parts | limitTo : 6" ng-bind-html="part.svg | to_trusted"
               style="width: 100px;">
          </div>
<br/>
<br/>
  <label class="top3"> <span class="bigNumber">3.</span>COLOR YOUR BIKE</label><i class="fa fa-arrow-right"aria-hidden="true"></i>
  <input type="color" ng-model="controller.newBike.color">
  <div id="dots">...</div>
  <div id="save" ng-click="controller.saveBike()">SAVE!</div>
</div>

<div class="col-md-7 mainContainer">

  <div id="bikeContainer">

    <div class="box" 
      data-drop="true" 
      data-jqyoui-options 
      ng-model="controller.newBike.frontWheel" 
      jqyoui-droppable
      style="
      position: absolute;
       width: 290px;
       height: 290px;
       top: 140px;
       left: 455px;
       border: grey 1px solid;
       fill: {{controller.newBike.color}};">

      <div data-drag="false" 
        data-jqyoui-options 
        ng-model="controller.newBike.frontWheel" 
        jqyoui-draggable 
        ng-hide="!controller.newBike.frontWheel.name" 
        ng-bind-html="controller.newBike.frontWheel.svg | to_trusted"> 
      </div>

    </div>

    <div class="box" 
      data-drop="true" 
      data-jqyoui-options 
      ng-model="controller.newBike.rearWheel" 
      jqyoui-droppable
      style="
      position: absolute;
      width: 290px;
      height: 290px;
      top: 149px;
      left: 13px;
      border: grey 1px solid;
      fill: {{controller.newBike.color}};">

      <div data-drag="false" 
        data-jqyoui-options 
        ng-model="controller.newBike.rearWheel" 
        jqyoui-draggable 
        ng-hide="!controller.newBike.rearWheel.name" 
        ng-bind-html="controller.newBike.rearWheel.svg | to_trusted">    
      </div>

    </div>

    <div class="box" 
      data-drop="true" 
      data-jqyoui-options 
      ng-model="controller.newBike.seat" 
      jqyoui-droppable
      style="
      position: absolute;
       width: 120px;
       height: 45px;
       top: 20px;
       left: 206px;
       border: grey 1px solid;
       fill: {{controller.newBike.color}};">

      <div data-drag="false" 
        data-jqyoui-options 
        ng-model="controller.newBike.seat" 
        jqyoui-draggable 
        ng-hide="!controller.newBike.seat.name" 
        ng-bind-html="controller.newBike.seat.svg | to_trusted">    
      </div>

    </div>

    <div class="box" 
      data-drop="true" 
      data-jqyoui-options 
      ng-model="controller.newBike.crank" 
      jqyoui-droppable 
      style=' 
      width: 288px;
      height: 130px;
      top: 255px;
      left: 136px;
      position: absolute;
      border: grey 1px solid;
      fill: {{controller.newBike.color}};'>

        <div data-drag="false" 
          data-jqyoui-options 
          ng-model="controller.newBike.crank" 
          jqyoui-draggable 
          ng-hide="!controller.newBike.crank.name" 
          ng-bind-html="controller.newBike.crank.svg | to_trusted">    
        </div>

    </div>

    <div class="box" 
      data-drop="true" 
      data-jqyoui-options 
      ng-model="controller.newBike.handlebars" 
      jqyoui-droppable
      style='   position: absolute;
          width: 130px;
          height: 108px;
          top: 1px;
          left: 498px;
          border: grey 1px solid;
          fill: {{controller.newBike.color}};'>

        <div 
          data-drag="false" 
          data-jqyoui-options 
          ng-model="controller.newBike.handlebars" 
          jqyoui-draggable 
          ng-hide="!controller.newBike.handlebars.name"
          ng-bind-html="controller.newBike.handlebars.svg | to_trusted"> 
        </div>

    </div>

    <div class="box" 
      data-drop="true" 
      data-jqyoui-options 
      ng-model="controller.newBike.frame" 
      jqyoui-droppable
      style="
      width: 450px;
      height: 220px;
      position: absolute;
      top: 50px;
      left: 155px;
      border: grey 1px solid;
      fill: {{controller.newBike.color}};">

        <div data-drag="false" 
          data-jqyoui-options 
          ng-model="controller.newBike.frame" 
          jqyoui-draggable 
          class="large"
          ng-hide="!controller.newBike.frame.name"
          ng-bind-html="controller.newBike.frame.svg | to_trusted"> 
        </div>

    </div>

  </div>

</div>

<div class="col-md-2 builtBikes">
  <h3>BUILT BIKES</h3>
  <div 
    id="completedBikes" 
    ng-repeat="bike in controller.bikes" 
    ng-click="controller.selectBike(bike)" 
    style="color: {{bike.color}}">
    <img src="../bikeOne/B1frontWheel.svg" style="fill:{{bike.color}}; width: 20px;"> {{bike.name}}
    <!-- <button class='delete' ng-click="criminals.deleteCriminal(criminal)">X</button> -->
    <span id="delete" ng-click="controller.deleteBike(bike)">X</span>
  </div>

</div>


</div>