<div ng-controller="BikesController as controller">

<!-- ================== TOP NAVBAR ====================== -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        Bike Builder
          <!-- <img alt="Brand" src="..."> -->
        </a>
      </div>

      <p class="navbar-text navbar-right"><a href=""><a ui-sref="home"><i class="fa fa-home" aria-hidden="true"></i> HOME</a></a></p>
    </div>
  </nav>

<!-- ============== SIDE NAVBAR ==================== -->
  <div class="choiceContainer col-md-4">

    <div class="choices col-md-3">
      <button class="navChoices" id="new" ng-click="controller.newBike()"><i class="fa fa-star" aria-hidden="true"></i> NEW</button>
      <br/>
      <button class="navChoices" ng-click="completedBikes = !completedBikes"><a href=""><i class="fa fa-bicycle" aria-hidden="true"></i> BIKES</a></button>
      <button class="navChoices" ng-click="parts = !parts"><i class="fa fa-wrench" aria-hidden="true"></i>
   BUILD</button>

      <button class="navChoices" ng-click="changeName = !changeName"><i class="fa fa-pencil" aria-hidden="true"></i> NAME</button>
      <button class="navChoices" ng-click="changeColor = !changeColor"><i class="fa fa-cog" aria-hidden="true"></i> COLOR</button>

      <button class="navChoices" id="save" ng-click="controller.saveBike()"><i class="fa fa-check" aria-hidden="true"></i> SAVE</button>
    </div>
    <div class="secondChoice">

      <ul ng-show="parts" class="nav nav-pills">
        <li role="presentation"  ng-click="controller.getPartCategory('frame')"><a href="">Frames</a></li>
        <li role="presentation" ng-click="controller.getPartCategory('seat')"><a href="">Seats</a></li>
        <li role="presentation" ng-click="controller.getPartCategory('handleBar')"><a href="">Handlebars</a></li>
        <li role="presentation" ng-click="controller.getPartCategory('wheel')"><a href="">Wheels</a></li>
        <li role="presentation" ng-click="controller.getPartCategory('gears')"><a href="">Gears</a></li>
      </ul>

<!--       <ul ng-show="parts" class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul> -->

      <span
        ng-show="completedBikes"
        id="completedBikes" 
        ng-repeat="bike in controller.bikes" 
        ng-click="controller.selectBike(bike)" 
        style="color: {{bike.color}}">
        <img src="../bikeOne/B1frontWheel.svg" style="fill:{{bike.color}}; width: 20px;"> {{ bike.name }}
        <span id="delete" ng-click="controller.deleteBike(bike)"> X </span>
      </span>

        <div class="partsContainer">
          <div class="btn {{ part.name }}" 
               data-drag="true" 
               data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
               ng-model="part" 
               jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}" 
               ng-hide="!part.name" 
               ng-repeat="part in controller.parts" ng-bind-html="part.svg | to_trusted"
               style="width: 100px;">
          </div>
        </div>

      <div ng-show="changeName">
        <input type="text" placeholder="e.g. SuperBike" ng-model="controller.displayedBike.name" style="color: {{controller.displayedBike.color}};">
      </div>
     
      <div ng-show="changeColor">
        <div>Choose Color</div>
        <input type="color" ng-model="controller.displayedBike.color">
      </div>

  </div>

</div>

<!-- =========== BIKE CONTAINER ==================== -->
  <div class="col-md-7 mainContainer">
    <div id="bikeContainer">

      <div class="box" 
        data-drop="true" 
        data-jqyoui-options 
        ng-model="controller.displayedBike.frontWheel" 
        jqyoui-droppable
        style="
        position: absolute;
         width: 290px;
         height: 290px;
         top: 140px;
         left: 455px;
         border: #c0c7d6 1px solid;
         fill: {{controller.displayedBike.color}};">

        <div data-drag="false" 
          data-jqyoui-options 
          ng-model="controller.displayedBike.frontWheel" 
          jqyoui-draggable 
          ng-hide="!controller.displayedBike.frontWheel.name" 
          ng-bind-html="controller.displayedBike.frontWheel.svg | to_trusted"> 
        </div>

      </div>

      <div class="box" 
        data-drop="true" 
        data-jqyoui-options 
        ng-model="controller.displayedBike.rearWheel" 
        jqyoui-droppable
        style="
        position: absolute;
        width: 290px;
        height: 290px;
        top: 149px;
        left: 13px;
        border: #c0c7d6 1px solid;
        fill: {{controller.displayedBike.color}};">

        <div data-drag="false" 
          data-jqyoui-options 
          ng-model="controller.displayedBike.rearWheel" 
          jqyoui-draggable 
          ng-hide="!controller.displayedBike.rearWheel.name" 
          ng-bind-html="controller.displayedBike.rearWheel.svg | to_trusted">    
        </div>

      </div>

      <div class="box" 
        data-drop="true" 
        data-jqyoui-options 
        ng-model="controller.displayedBike.seat" 
        jqyoui-droppable
        style="
        position: absolute;
         width: 120px;
         height: 45px;
         top: 20px;
         left: 206px;
         border: #c0c7d6 1px solid;
         fill: {{controller.displayedBike.color}};">

        <div data-drag="false" 
          data-jqyoui-options 
          ng-model="controller.displayedBike.seat" 
          jqyoui-draggable 
          ng-hide="!controller.displayedBike.seat.name" 
          ng-bind-html="controller.displayedBike.seat.svg | to_trusted">    
        </div>

      </div>

      <div class="box" 
        data-drop="true" 
        data-jqyoui-options 
        ng-model="controller.displayedBike.crank" 
        jqyoui-droppable 
        style=' 
        width: 288px;
        height: 130px;
        top: 255px;
        left: 136px;
        position: absolute;
        border: #c0c7d6 1px solid;
        fill: {{controller.displayedBike.color}};'>

          <div data-drag="false" 
            data-jqyoui-options 
            ng-model="controller.displayedBike.crank" 
            jqyoui-draggable 
            ng-hide="!controller.displayedBike.crank.name" 
            ng-bind-html="controller.displayedBike.crank.svg | to_trusted">    
          </div>

      </div>

      <div class="box" 
        data-drop="true" 
        data-jqyoui-options 
        ng-model="controller.displayedBike.handlebars" 
        jqyoui-droppable
        style='   position: absolute;
            width: 130px;
            height: 108px;
            top: 1px;
            left: 498px;
            border: #c0c7d6 1px solid;
            fill: {{controller.displayedBike.color}};'>

          <div 
            data-drag="false" 
            data-jqyoui-options 
            ng-model="controller.displayedBike.handlebars" 
            jqyoui-draggable 
            ng-hide="!controller.displayedBike.handlebars.name"
            ng-bind-html="controller.displayedBike.handlebars.svg | to_trusted"> 
          </div>

      </div>

      <div class="box" 
        data-drop="true" 
        data-jqyoui-options 
        ng-model="controller.displayedBike.frame" 
        jqyoui-droppable
        style="
        width: 450px;
        height: 220px;
        position: absolute;
        top: 50px;
        left: 155px;
        border: #c0c7d6 1px solid;
        fill: {{controller.displayedBike.color}};">

          <div data-drag="false" 
            data-jqyoui-options 
            ng-model="controller.displayedBike.frame" 
            jqyoui-draggable 
            class="large"
            ng-hide="!controller.displayedBike.frame.name"
            ng-bind-html="controller.displayedBike.frame.svg | to_trusted"> 
          </div>

      </div>

    </div>

  </div>


</div>